<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
    <h1 class="text-center mb-4 fw-bold">Welcome Back!</h1>
    <h3 class="text-center mb-4 fw-bold">Login Page</h3>

    <form #form="ngForm" (ngSubmit)="loginFormsubmit()" novalidate>
 <!-- Email -->
      
       <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Enter your Email</label>
        <input type="email" class="form-control"
          [(ngModel)]="loginData.email" name="email" required email #email="ngModel"/>
        <div class="text-danger small" *ngIf="email.invalid && email.touched">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Enter a valid email with '@'.</div>
        </div>
      </div>
     


      <!-- Password Input -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" [(ngModel)]="loginData.password"
          name="password" required minlength="7" pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{7,}$"
          #password="ngModel" />
        <div class="text-danger small" *ngIf="password.invalid && (password.dirty || password.touched )">
          <!-- <div *ngIf="password.errors?.['required']">Password is required.</div> -->
          <div *ngIf="password.errors?.['minlength']">Password must be at least 7 characters.</div>
          <div *ngIf="password.errors?.['pattern']">
            Password must include at least 1 uppercase letter, 1 number, and 1 special character.
          </div>
        </div>
      </div>


      <!-- Show Password Checkbox -->
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" (change)="togglePassword()" id="showPasswordCheckbox" />
        <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
      </div>

      <!-- Submit Button -->
      <!-- <button type="submit" class="btn btn-primary w-100 mb-3">Login</button> -->
      <button type="submit" class="btn btn-primary w-100 mb-3">

        Login
      </button>

      <!-- Redirect Link -->
      <div class="text-center">
        <p class="mb-0">
          Don't have an account? <a routerLink="/register" class="text-decoration-none">Sign up here</a>
        </p>
      </div>
    </form>
  </div>
</div>